.AppointmentCard {
    width: 24rem;
    height: 26rem;
    align-items: center;
    padding-top: 10px;
    border-width: 2px;
    margin: 14px;
    box-shadow: 5px 10px 18px #888888;
}

.AppointmentCardDefault {
    background-color: #fff;
    border-color: #ba77ff;
}

.AppointmentCardActionTaken {
    background-color: #f5f5f5;
    border-color: #dcdcdc;
}

.AppointmentCardFooter {
    border: none;
    background: none;
    flex-wrap: nowrap;
    padding-left: 6px;
    padding-right: 6px;
}

.AppointmentCardFooter > div {
    flex-wrap: nowrap;
}

.AppointmentCardImage {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.AppointmentCardButton {
    white-space: nowrap;
}

.AppointmentCardHidden {
    display: none;
}

.AppointmentCardInvalid {
    color: red;
}

.AppointmentCardStatus {
    color: #0bc98c;
    font-weight: bold;
}

.AppointmentCardLabel {
    font-weight: bold;
}

.AppointmentCardText {
    text-align: left;
}

.AppointmentCardTitle {
    color: #08a9c6;
}

.AppointmentCardConfirm {
    margin-right: 6px;
}

.AppointmentCardUpdate {
    margin-left: 6px;
}

.AppointmentCardText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20rem;
}
