.AppointmentCard {
    width: 26rem;
    height: 24rem;
    align-items: center;
    padding-top: 10px;
    border-width: 2px;
    margin: 14px;
    box-shadow: 5px 10px 18px #888888;
}

.AppointmentCardDefault {
    background-color: #fff;
    border-color: #ba77ff;
}

.AppointmentCardActionTaken {
    background-color: #f5f5f5;
    border-color: #dcdcdc;
}

.AppointmentCardDateTimePicker {
    color: #000;
    background-color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    width: 200px;
}

.AppointmentCardDateTimePicker > div {
    border-radius: 6px;
}

.AppointmentCardFooter {
    border: none;
    background: none;
    flex-wrap: nowrap;
}

.AppointmentCardFooter > div {
    flex-wrap: nowrap;
}

.AppointmentCardImage {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.AppointmentCardButton {
    white-space: nowrap;
}

.AppointmentCardHidden {
    display: none;
}

.AppointmentCardRequestDate {
    font-weight: bold;
}

.AppointmentCardInvalid {
    color: red;
}

.AppointmentCardStatus {
    color: #0bc98c;
    font-weight: bold;
}
