/*
Light purple F2E4FF
Dark purple BA77FF
Light blue 82D8E7
Dark blue 08A9C6
Light green 30E6AC
Dark green 0BC98C
*/

#root {
    margin: 0;
    padding: 0;
    text-align: center;
}

.App {
    padding-left: 40px;
}

.btn.btn-primary {
    border-color: #30e6ac;
    background-color: #30e6ac;
    color: #fff;
}

.btn.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active {
    border-color: #0bc98c;
    background-color: #0bc98c;
    color: #fff;
}
