#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  padding-left: 40px;
}

.btn.btn-primary {
  border-color: #30E6AC;
  background-color: #30E6AC;
  color: #fff;
}

.btn.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
  border-color: #0BC98C;
  background-color: #0BC98C;
  color: #fff;
} 

.AppointmentRequestsSort {
  display: inline;
  width: fit-content;
}

.AppointmentRequestsFilter {
  display: inline;
  width: fit-content;
}