#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

.AppointmentCardDateTimePicker {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 6px;
}

.AppointmentCardDateTimePicker > div {
  border: none;
}

.AppointmentCardFooter {
  border: none;
  background: none;
}

.btn.btn-primary {
  border-color: #0BC98C;
  background-color: #fff;
  color: #000;
}

.btn.btn-primary.active {
  border-color: #0BC98C;
  background-color: #0BC98C;
  color: #fff;
}